/*
Content 882px;
container : 997px;
left: 56px;
right: 59px;
*/

/* ==========================================================================
   GENERAL
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic);

html{
  height: 100%;
}
body {
	font-family: 'Istok Web', sans-serif;
	font-weight: lighter;
    background: #fff;
    background: url(../img/background.jpg) repeat-x;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 20px;
    padding-left: 20px;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
header {
	background: #fff url("../img/header-bg.jpg") repeat-x scroll 0% 0%;
}
.header-logo img {
    margin: -10px 32px 10px 51px;
}
.after-header {
    background: url(../img/Ebene-12.png);
    min-height: 15px;
}
.flags {
    margin-top: 23px;
    text-align: right;
    margin-right: 59px;
}
.flags  a {
    color: #1f1a18;
    text-transform: uppercase;
    font-size: 11px;
}

.flag-dim {
    margin-right: 26px;
    margin-left: 5px;
}
.header-info {
    margin-top: 30px;
    color: #333;
    font-size: 11px;
    text-align: right;
    margin-right: 59px;
}
/* ==========================================================================
   NAVBAR
   ========================================================================== */
.fist-nav-link {
    margin-right: 218px;
    /*margin-left: 25px;*/
}
.navbar-default {
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 5px 9px 11px 0px rgba(26, 24, 28, 0.14);
	-moz-box-shadow:    5px 9px 11px 0px rgba(26, 24, 28, 0.14);
    box-shadow: 5px 9px 11px 0px rgba(26, 24, 28, 0.14);
}
.navbar-default {
    background: url(../img/nav-bg.jpg);
    border-color: transparent;
}
.navbar-default a {
	font-size: 13px;
	font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #ebe9e9;
}
.navbar-default .navbar-nav > li:last-child > a {
    margin-right: 32px;
}
.navbar {
    margin-bottom: 0;
    min-height: 12px;
    height: 34px;
}
.nav > li > a {
    padding: 0px 18px;
}
.navbar-nav {
    margin: -1px;
}
.navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
    line-height: 35px;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
    margin-right: 0px;
    margin-left: -30px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
    border-color: #ce0102;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ce0102;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
    min-width: 193px;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-menu > li > a {
   padding: 0px 20px;
   line-height: 29px;
   border-bottom: 1px solid #dadddf;
   text-transform: none;
}
.dropdown-menu > li:first-child > a {
   border-top: 1px solid #dadddf;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
   color: #d50303;
   background-color: #e8e8e8;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #d50303;
    text-decoration: none;
    background-color: #e8e8e8;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
   color: #fff;
   background-color: transparent;
}
 ==========================================================================
   CAROUSEL
   ==========================================================================
.carousel .row {
    margin-right: -20px;
    margin-left: -20px;
}
/* ==========================================================================
   Orange Stripe
   ========================================================================== */
.orange-stripe {
	background: rgb(232, 110, 57);
	height: 55px;
    font: italic 28px / 55px 'Istok Web';
    color: #f2f4f6;
    padding-left: 30px;
}
/* ==========================================================================
   SECTION main-content
   ========================================================================== */
.wrapper {
	background-color: rgba(255,255,255,0.8);
	-webkit-box-shadow: 3px 5px 8px 0px rgba(26, 24, 28, 0.24);
	-moz-box-shadow:    3px 5px 8px 0px rgba(26, 24, 28, 0.24);
	box-shadow: 3px 5px 8px 0px rgba(26, 24, 28, 0.24);
	padding: 0 33px;
	padding-bottom: 37px;
}
.main-content {
    color: #010101;
/*    padding-bottom: 30px;*/
}
.main-content h3 {
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
}
.main-content p {
    font: 400 15px / 21px 'Istok Web';
    color: #494949;
}
.main-content-img  {
	margin-top: 34px;
    margin-bottom: 39px;
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.16);
}
.main-content h2 {
    font: 400 25px / 29px 'Istok Web';
    color: #484949;
    margin-bottom: 20px;
    margin-top: 33px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 0;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid transparent;
    color: #494949;
    font: 400 15px / 21px 'Istok Web';
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
	background-color: #fff;
    margin-top: 1px;
    padding: 0 32px;
    line-height: 41px;
    font: 400 13px / 41px 'Istok Web';
    color: rgba(0, 0, 0, 0.68);
    text-align: center;
}
footer a{
    color: rgba(0, 0, 0, 0.68);
}
footer span {
    padding: 0 15px
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(max-width:767px){
    body {
        background: blue;
    }
    .header-logo img {
		margin-left: 0;
    }
    .navbar {
        height: auto;
    }
    .navbar-nav {
	    margin: 0;
	}
    .navbar-default {
        background-image: none;
    }
   .navbar-default a {
      font-size: 15px;
   }
   .fist-nav-link {
      margin-right: 0;
   }
   .flags {
      margin-right: 15px;
   }
   .header-info {
      margin-top: 10px;
      text-align: left;
      margin-left: 39px;
      margin-right: 0;
   }
   .header-logo img {
      margin-top: 20px;
      margin-left: 40px;
   }
   .navbar-default .navbar-nav > li:last-child > a {
      margin-right: 0;
   }
	.nav {
	    padding-left: 0;
	    padding-bottom: 8px;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
	    border-color: #fff;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > li > a:hover  {
	    background-image: linear-gradient(to bottom, #4f4f4f 0px, #4f4f4f 100%);
	    background-repeat: repeat-x;
	    border-bottom: none;
	    color: #fff;
	}
	.navbar-default .navbar-nav > li > a {
		background-image: linear-gradient(to bottom, #e8e8e8 0px, #e8e8e8 100%);
	    background-repeat: repeat-x;
	    color: #656464;
	    margin-bottom: 1px;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .open > a {
		background-color: #e95317;
		-webkit-box-shadow:rgba(0, 0, 0, 0.0742188) 0 3px 9px inset;
		background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#e95317), to(#e95317));
		background-repeat:repeat no-repeat;
		box-shadow:rgba(0, 0, 0, 0.0742188) 0 3px 9px inset;
	}
	.navbar-default .navbar-nav > li > a {
		background-color: #dcdcdc;
	    color: #656464;
       line-height: 39px;
	}
   .navbar-nav .open .dropdown-menu .dropdown-header,
   .navbar-nav .open .dropdown-menu>li>a {
      padding: 0;
   }
   .navbar-default .navbar-nav > li > a:focus,
   .navbar-default .navbar-nav > li > a:hover {
      text-decoration: none;
   }
	.navbar-default .navbar-nav > li > a:hover {
		background-color: #e95317;
	    color: #ffffff;
       text-decoration: none;
	}
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        color: #ffffff;
        background-color: transparent;
        border-bottom: none;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .open > a {
        color: #ffffff;
        background: #4f4f4f;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
        color: #fff;
        background-color: #4f4f4f;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #494949;
        background: #d3d3d3;
        line-height: 39px;
        margin-bottom: 1px;
        padding-left: 40px;
        text-transform: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #fff;
      background-color: #4f4f4f;
    }
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
      color: #fff;
      background-color: #4f4f4f;
   }
    .navbar-toggle {
        margin-left: 15px;
    }
   .navbar-default .navbar-toggle {
      border-color: #ce0102;
   }
   .navbar-default .navbar-toggle .icon-bar {
      background-color: #ce0102;
   }
    .orange-stripe {
        font-size: 3.5vw;
    }
    .main-content h2 {
        font-size: 6vw;
    }
	footer {
        padding: 15px 0;
        font: 400 13px/21px "Istok Web";
    }
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:768px){
    body {
        background: red;
    }
	.navbar-default a {
		font-size: 11px;
	}
   .navbar-nav > li > .dropdown-menu {
      margin-top: -2px;
   }
    .fist-nav-link {
        margin-right: 72px;
        margin-left: 30px;
    }
	.nav > li > a {
		padding-left:15px;
		padding-right:15px;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
	  -webkit-box-shadow:none;
	  background: none;
	  box-shadow: none
	}
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:992px){
    body {
    	background: green;
    }
    .container {
        width: 997px;
	}
    .navbar-default a {
        font-size: 13px;
    }
    .fist-nav-link {
        margin-right: 248px;
        margin-left: 30px;
    }

}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
/*@media(min-width:1200px){
	body {
        background: #ffffff;
        min-height: 100%;
    }
    .container {
	 	width: 965px;
	}
}*/
