

/* ==========================================================================
   General
   ========================================================================== */
.container {
   width: 960px;
}

/* ==========================================================================
   Navbar
   ========================================================================== */
.navbar .container{
    min-height: 100px;
    background: green;
}
.nav > li > a {
    text-transform: uppercase;
}
.container > .navbar-header,
.container > .navbar-collapse {
    margin-top: 21px;
}

/* ==========================================================================
   Header
   ========================================================================== */


/* ==========================================================================
   Slider
   ========================================================================== */


/* ==========================================================================
   Info Boxen
   ========================================================================== */


/* ==========================================================================
   Profil
   ========================================================================== */



/* ==========================================================================
   Footer
   ========================================================================== */
















