/* ==========================================================================
   GENERAL
   ========================================================================== */

html{
  height: 100%;
}
body {
	font-family: Arial, sans-serif;
	background-color: #565656;
}
.btn-default {
    color: rgba(0,0,0, 0.64);
    background-color: #FFF;
    border-color: #d8dbe2;
    border-radius: 0;
}
.left-col {
	margin-left: 140px;
}
.list-inline > li {
    padding-right: 1px;
    padding-left: 1px;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
header {
	background: #fff;
	background: url("../img/header-no-stripe.jpg") repeat-x;
	height: 128px;
	width: 100%;
}
header .container{
	background-image: url("../img/header-stripe.jpg");
	height: 128px;
}
.header-logo {
	margin-right: 123px;
}
header .btn {
	margin-top: 51px;
}
.first-btn {
	margin-left: 140px;
}
.text-logo {
	margin-top: 45px;
	font-family: Arial;
	color: #333;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: 0.65px;
	line-height: 24px;
	text-transform: uppercase;
	margin-right: -17px;
}
.text-logo span {
	font-family: Arial;
	color: #7b8083;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: 0.65px;
	line-height: 24px;
	text-transform: uppercase;
}
.stripe-one {
	font-family: Arial;
	color: #000000;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 24px;
	text-transform: uppercase;
	margin-right: -7px;
}
.stripe-two {
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-right: -7px;
}
#hgstueck {
	position: absolute;
	width: 460px;
	height:128px;
	z-index: 1;
	/*margin-top: -1px;*/
	background: url("../img/header-stripe.jpg") repeat;
}
/* ==========================================================================
   MAIN SECTION
   ========================================================================== */
.main {
	/*margin-top: 32px;*/
	/*max-height: 252px;*/
	/*border-top: 5px solid #000;*/
	/*border-bottom: 5px solid #000;*/

}
.main .container {
	background-color: #303030;
}
.kopfbild {
	max-width: 737px;
}
.nav-col {
	max-width: 273px;
}
.content-col {
	max-width: 738px;
	margin-left: 4px;
	margin-top: 14px;
}
.beispiel-copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #FFFFFF;
}
.beispiel-copy h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 3px;
	margin: 0px;
	text-transform: uppercase;
}
.line {
	font-size: 8px;
	line-height: 8px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #898989;
	height: 8px;
	margin-bottom: 10px;
}
.beispiel-copy ul.leistungen > li {
	line-height: 20px;
}
/* ==========================================================================
   MAIN NAVIGATION
   ========================================================================== */
.navi > li {
	padding-left: 20px;
	margin-bottom: 1px;
}
.navi li a {
	color: #fff;
	font-size: 11px;
	line-height: 23px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}
.navi > li a {
	font-weight: bold;
}
.navi > li.active {
	background: url(../img/pfeil.png) left center no-repeat;
	padding-left: 18px;
	background-color: #494949;
	margin-left: 2px;
}
.navi > li:hover {
	background: url(../img/pfeil.png) left center no-repeat;
	padding-left: 18px;
	background-color: #494949;
	margin-left: 2px;
}
.navi > li:hover  a,
.navi > li.active  a {
	color: #FFF;

}
.navi > li:hover  a,
.navi > li.active  a {
	font-weight: bold;
}
/*Untermenu*/
.untermenu {
	padding-left: 20px;
}

.untermenu li {
	list-style-type: none;
	/*margin-left: -40px;*/
	/*padding-left: 20px;*/
	margin-left: -20px;
	padding-left: 20px;
	/*margin-bottom: -6px;*/
}
.untermenu {
	margin-top: 6px;
	margin-bottom: 12px;
}
.untermenu li a {
	text-transform: none;
	font-size: 11px;
	line-height: 16px;
}
.untermenu li:hover a,
.untermenu li:active a {
	/*text-transform: none;*/

	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
}
.untermenu li:hover,
.untermenu li.active  {
	background-color: #616161;
	background-image: none;
	/*padding-left: 20px;*/
	font-weight: normal;
}


/* ==========================================================================
   SECTION CONTENT
   ========================================================================== */
.content  {
	background-color: #ECEEEF;
	box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.2);
	padding-bottom: 130px;
}
/*.main .container {

}*/
.content span,
.content a {
	color: #E50000;
}
.content .kopfbild p {
	margin-bottom: 28px;
}
ul.content-list {
    list-style-image: url('../img/icon_pfeil_schwarz.png');
    margin-bottom: 130px;
}
.page-title {
	position: relative;
	min-height: 52px;
	background: #868686;
	/*width: 100%;*/
	margin-right: -29px;
}
.page-title h3 {
	position: absolute;
	bottom: -5px;
	margin-left: 20px;
	text-transform: uppercase;
	font-family: Arial;
	color: #fff;
	font-size: 17px;
	font-weight: 900;
	line-height: 22px;
	text-align: left;
}
/* ==========================================================================
   PROJEKT UEBERISCHT
   ========================================================================== */
.copy.projekt-copy {
	padding: 0px ;
	margin: 0px;
	margin-bottom: 20px;
	margin-top: 1px;
}
.media {
	border-bottom: 1px solid #333;
	border-right:  1px solid #333;
	margin-right: -29px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d4d4d+0,525252+1,545454+4,525252+5,5b5b5b+50,606060+100 */
	background: rgb(77,77,77); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjNTI1MjUyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiM1NDU0NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzUyNTI1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MDYwNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(77,77,77,1) 0%, rgba(82,82,82,1) 1%, rgba(84,84,84,1) 4%, rgba(82,82,82,1) 5%, rgba(91,91,91,1) 50%, rgba(96,96,96,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(77,77,77,1) 0%,rgba(82,82,82,1) 1%,rgba(84,84,84,1) 4%,rgba(82,82,82,1) 5%,rgba(91,91,91,1) 50%,rgba(96,96,96,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(77,77,77,1) 0%,rgba(82,82,82,1) 1%,rgba(84,84,84,1) 4%,rgba(82,82,82,1) 5%,rgba(91,91,91,1) 50%,rgba(96,96,96,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#606060',GradientType=1 ); /* IE6-8 */
}
.media.left-col {
	margin-left: -15px;
}
.media-left,
.media > .pull-left {
    padding-right: 17px;
}
.media-body {
	vertical-align: middle;
}
.media h4 {
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 0.25px;
	line-height: 12px;
	text-align: left;
	margin-top: 6px;
}
.media p {
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: 12px;
	text-align: left;
}
.play {
	margin-right: 10px;
}
/* ==========================================================================
   BEISPIEL
   ========================================================================== */
.beispiel {
	margin-top: -42px;
	margin-left: 27px;
}
/* ==========================================================================
   SECONDARY NAVIGATION
   ========================================================================== */
.secondary-navigation {
	/*background-color: #dee1e1;*/
}
.secondary-navigation ul {
	background: #dee1e1;
	margin-left: 140px;
	margin-top: -96px;
	margin-right: 15px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.secondary-navigation ul li a {
	padding-left: 25px;
	color: #7f868a;
	font-size: 16px;
	font-weight: bold;
	line-height: 44px;
	text-decoration: none;
}
.secondary-navigation ul li.active {
	list-style-position: inside;
	list-style-image: url("../img/icon_pfeil_schwarz.png");
}
.secondary-navigation ul li.active > a {
	color: #000;
	padding-left: 5px;
}
/*.secondary-navigation ul li:hover {
	background-color: #E50000;
	color: #FFF;
}*/
.secondary-navigation ul li:hover  a{
	color: #000;
}

/* =========================================================================
   TWO COLUMN TEASER
   ========================================================================== */
ul.leistungen {
	margin: 0px 0px 20px 10px;
	list-style-type: square;
	padding: 9px 0px 6px 0;

}
ul.leistungen li {
	color: #c4cbce;
	margin-bottom: -4px;
}
ul.leistungen li span {
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 16px;
	text-align: left;
}
/* =========================================================================
   RIGHT COLUMN LINKS
   ========================================================================== */
.rigth-col {
	margin-top: 50px;
	margin-left: -50px;
}
.rigth-col a {
	font-size: 16px;
	font-weight: bold;
	line-height: 36px;
	color: #000;
	text-decoration: none;
}

/* =========================================================================
   KOPFBILD
   ========================================================================== */
.overlay-position {
    position: relative;
    display: block;
}
.overlay-image-kopfbild {
    position: absolute;
    /*width: 101% !important;*/
    height: 52px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
    margin-right: -6px;
    margin-left: 0;
}
.kopfbild h2 {
	position: absolute;
	bottom: -5px;
	left: 30px;
	letter-spacing: 0.2px;
	font-family: Arial;
	color: #333333;
	font-size: 17px;
	font-weight: 900;
	line-height: 22px;
	text-align: left;
	text-transform: uppercase;
}
.copy a {
	color: #fff;
	text-decoration: underline;
}
.copy a:hover {
	color: #fff;
	text-decoration: none;
}



/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(max-width:767px){
	body {
		/*background: blue;*/
	}
	header {
		margin-top: 0;
		height: 100%;
	}
	.main {
	   margin-top: -20px;
	}
	.navbar {
		border: none;
	}
	.navbar-default {
		background-color: #fff;
		border-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #333333;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #333;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #fff;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > .active > a:hover {
		color: #fff;
		background-color: #898989;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .open > a:hover {
		color: #fff;
		background-color: #898989;
	}
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > li > a:hover {
		color: #fff;
		background-color: #898989;
	}
	.nav > li {
		background: #ebebeb;
		margin-bottom: 1px;
	}
	.navbar-default .navbar-nav > li > a {
		color: #000;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
	    background: #333333;
	}
	.navbar-nav {
		margin: 0;
	}
	.nav > li:nth-child(1){
		margin-top: 1px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
		padding: 10px 45px;
		border-bottom: 1px solid #000;
	}
	.navbar-nav .open .dropdown-menu > li:last-child > a {
		border-bottom: none;
	}
	.navbar-nav .open .dropdown-menu > li:first-child > a {
		border-top: 1px solid #000;
	}
	.dropdown-menu {
		padding: 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
		color: #fff;
		background-color: #898989;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fff;
		background-color: #898989;
	}
	.container-fluid > .navbar-collapse,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container > .navbar-header {
		margin-right: -19px;
		margin-left: -15px;
	}
	.navbar-toggle {
		margin-left: 15px;
	}
    .navbar-brand > img {
	    max-width: 200px;
	}
    .header-logo {
	    margin-right: 0px;
		margin-top: -10px;
	}
	.text-logo {
		font-size: 17px;
		margin-right: -8px;
	}
	.text-logo span {
    	font-size: 17px;
    }
	.dropdown-menu{ position:relative;}
	/*.kopfbild {
		max-width: 391px;
	}*/
	.kopfbild {
		max-width: 101%;
		margin-right: 1px;
	}
	.content .kopfbild p {
	    margin-bottom: 0px;
	}
	ul.content-list {
	    margin-bottom: 0px;
	}
    .rigth-col {
	    margin-top: 50px;
	    margin-left: auto;
    }
    .left-col {
	    margin-left: 0;
	    /*margin-bottom: 40px;*/
	}
	.copy {
		position: relative;
		display: block;
		color: #fff;
		background: url(../img/bg.jpg);
		background-size: 737px 1555px;
		/*height: 755px;*/
		min-height: 100% !important;
		margin-right: -4px;
		margin-bottom: 20px;
		padding: 42px 30px 0;
	}
	.copy p {
		margin-bottom: 0;
	}
	.media {
		margin-right: -4px;
	}
	.media.left-col {
		margin-left: 0;
	}
	.page-title {
		margin-right: -4px;
	}
	.content-col {
	    margin-left: 0px;
	}
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:768px){
    body {
        /*background: red;*/
    }
    header {
		margin-top: 0;
		height: 100%;
	}
    .left-col {
		margin-left: 70px;
	}
	.header-logo {
		margin-right: 13px;
	}
	.first-btn {
		margin-left: 70px;
	}
	.kopfbild {
		max-width: 500px;
	}
	.main .kopfbild {
		margin-left: 0;
	}
	.kopfbild {
		max-width: 547px;
	}
	.navi {
		background: transparent;
		margin: 20px -30px 0 -15px;
		padding: 9px 0 13px;
	}
	.content {
		padding-bottom: 40px;
	}
	.secondary-navigation ul {
		margin-left: 70px;
		margin-top: -15px;
	}
	ul.content-list {
	    margin-bottom: 30px;
	}
	.rigth-col {
	    margin-top: 10px;
	    margin-left: 70px;
	}
	.copy {
		position: relative;
		display: block;
		color: #fff;
		background: url(../img/bg.jpg);
		background-size: 737px 1555px;
		min-height: 100% !important;
		margin-right: -14px;
		margin-bottom: 20px;
		padding: 42px 30px 0;
	}
	.copy p {
		margin-bottom: 0;
	}
	.media.left-col {
		margin-left: 0;
	}
	.beispiel {
		margin-top: 0;
		margin-left: 0;
	}
	.page-title {
		margin-right: -15px;
	}
	.overlay-image-kopfbild {
    	margin-right: -15px;
    }
	.content-col {
		max-width: 100%;
		margin-left: 0px;
		margin-top: 14px;
	}
	.media {
		margin-right: -15px;
	}
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:992px){
    body {
    	/*background: orange;*/
    }
    .container {
		width: 1010px;
	}
	.left-col {
		margin-left: 70px;
	}
	.header-logo {
		margin-right: 87px;
	}
	.first-btn {
		margin-left: 70px;
	}
	.kopfbild {
		max-width: 738px;
/*		margin-left: -20px;
		padding-right: 16px;*/
	}
	.main .kopfbild {
	    /*margin-left: -25px;*/
	}
	.navi {
		background: transparent;
		margin: 20px -50px 0 -15px;;
		padding: 9px 0 13px;
	}
	.secondary-navigation ul {
		margin-left: 70px;
		margin-top: -45px;
		margin-right: 17px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.rigth-col {
	    margin-top: 50px ;
	    margin-left: -50px;
	}
	footer .rigth-col {
	    margin-top: 0px;
	}
	.copy {
		position: relative;
		display: block;
		color: #fff;
		background: url(../img/bg.jpg);
		background-size: 737px 1555px;
		/*height: 755px;*/
		min-height: 100% !important;
		margin-right: -29px;
		margin-bottom: 20px;
		padding: 42px 30px 0;
	}
	.copy p {
		margin-bottom: 0;
	}
	.media {
		margin-right: -30px;
	}
	.media.left-col {
		margin-left: 0;
	}
	.beispiel {
		margin-top: -42px;
		margin-left: 22px;
	}
	.overlay-image-kopfbild {
   	margin-right: -30px;
 	}
 	.page-title {
		margin-right: -30px;
	}
	.content-col {
		max-width: 738px;
		margin-left: 4px;
		margin-top: 14px;
	}
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:1220px){
	body {
        /*background: yellow;*/
        min-height: 100%;
    }
    .container {
		width: 1010px;
	}
    .left-col {
		margin-left: 140px;
	}
	.header-logo {
		margin-right: 123px;
	}
	.kopfbild {
/*		position: relative;
		max-width: 700px;
		margin-bottom: 0;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
		overflow: hidden;*/
	}
	.rigth-col {
	  margin-top: 50px;
	  margin-left: -50px;
	}
	.kopfbild {
		max-width: 738px;
		/*margin-left: -40px;*/
		/*padding-right: 16px;*/
	}
	.main .kopfbild {
	    /*margin-left: -45px;*/
	}
	.navi {
		margin-left: 140px;
		background: transparent;
		margin: 20px -50px 20px -15px;
		padding: 9px 0 13px;
	}
	.copy {
		position: relative;
		display: block;
		color: #fff;
		background: url(../img/bg.jpg);
		background-size: 737px 1555px;
		min-height: 100% !important;
		margin-bottom: 20px;
		padding: 42px 30px 0;
		margin-left: 0px;
		margin-right: -30px;
	}
	.copy p {
		margin-bottom: 0;
	}
	.beispiel {
		margin-top: -42px;
		margin-left: 22px;
	}
 	.page-title {
		margin-right: -30px;
	}
	.media {
		margin-right: -30px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:767px) {

	.content .kopfbild {
/*	  max-width: none;
	  margin-left: 0;
	  padding-right: 0;
	  margin-top: 90px;*/
	}

}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:768px) {
	.secondary-navigation ul {
		margin-left: 70px;
		margin-top: 0;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 992px) {

      .content .kopfbild {
            /*margin-top: 40px;*/
      }
      .rigth-col {
		  margin-top:80px;
		  margin-left: -50px;
		}
	.secondary-navigation ul {
		margin-top: 0px;
		margin-right: 17px;
	}

}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 1220px)  {

	.content .kopfbild {
		/*margin-top: 130px;*/
	}
	.rigth-col {
		margin-top: 160px;
		margin-left: -50px;
	}
	.secondary-navigation ul {
		background: #dee1e1;
		margin-left: 140px;
		margin-top: 0px;
	  	margin-right: 35px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

}


