@media(min-width:768px){
/* ==========================================================================
   GENERAL
   ========================================================================== */

html{
  height: 100%;
}
body {
	font-family: Arial, sans-serif;
	background: lightgray;
}
.btn-default {
    color: rgba(0,0,0, 0.64);
    background-color: #FFF;
    border-color: #d8dbe2;
    border-radius: 0;
}
.left-col {
	margin-left: 70px;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
header {
	margin-top: 37px;
	/*background: red;*/
}
.header-logo {
	margin-right: 53px;
}
header .btn {
	margin-top: 40px;
}
.first-btn {
	margin-left: 30px;
}
/* ==========================================================================
   MAIN SECTION
   ========================================================================== */
.main {
	margin-top: 32px;
}
.main .container {
	max-height: 252px;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	background-color: #E50000;
}
.kopfbild {
	/*max-width: 700px;*/
	margin-bottom: 22px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2); 
}
.middle-col {
	max-width: 370px;
	margin-left: -60px;
	padding-right: 16px;
}

/* ==========================================================================
   MAIN NAVIGATION
   ========================================================================== */
.main ul {
	margin-left: 70px;
	margin-top: 16px;
}
.main ul li a{
	padding-left: 25px;
	color: #FFF;
	font-size: 16px;
	line-height: 44px;
}
/* ==========================================================================
   SECTION CONTENT
   ========================================================================== */
.content .container {
	background-color: #ECEEEF;
	box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.2); 
}   
/*.main .container {

}*/
.content span,
.content a {
	color: #E50000;
}
.content .middle-col p {
	margin-bottom: 28px;
}
/* ==========================================================================
   SHOP TEASER
   ========================================================================== */
.shop-teaser {
	margin-top: 15px;
	margin-left: 70px;
	max-width: 206px;
}
.shop-teaser span {
	max-width: 206px;
	background-color: #d40202;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 44px;
}
img.warenkorb  {
	margin-left: -20px;
}
.shop-teaser-content {
	background-color: #fff;
	padding: 20px 10px 5px 18px;
	margin-top: -12px;
}
.shop-teaser-content p {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
/* =========================================================================
   TWO COLUMN TEASER
   ========================================================================== */
.two-col-teaser {
	max-width: 460px;
}   
.two-col-teaser-header {
	background-color: #DEE1E1;
	padding-left: 12px;
}
.two-col-teaser-header h3{
	font-size: 16px;
	font-weight: bold;
	line-height: 44px;
	margin-bottom: 0px;
}
.two-col-teaser-content p {
	background-color: #FFF;
	padding: 10px;
	max-height: 123px;
	max-width: 241px;
	font-size: 12px;
	line-height: 16px;
}
.two-col-teaser-content img {
	max-height: 120px;
	padding-left: 0;
	padding-right: 0;
}
/* =========================================================================
   RIGHT COLUMN LINKS
   ========================================================================== */
.rigth-col {
	margin-top: 50px;
	margin-left: -50px;
}
.rigth-col a {
	font-size: 16px;
	font-weight: bold;
	line-height: 36px;
	color: #000;
	text-decoration: none;
}
/* =========================================================================
   MAP GRAPHIC
   ========================================================================== */
.map-graphic {
	margin-top: 10px;
	margin-bottom: 32px;
}
.map-graphic .container {
	padding-right: 0;
	padding-left: 0;
}
/* =========================================================================
   FOOTER
   ========================================================================== */
footer .container{
	box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.2); 
	padding-bottom: 27px;
}   
footer input.form-control,
footer textarea.form-control {
	max-width: 219px;
	background-color: #F2F3F4;
	line-height: 18px;
	color: #000;
	-webkit-border-radius: 0;
	        border-radius: 0;
	margin-bottom: 10px;
	border: 1px solid #F2F3F4;
}
footer .rigth-col {
	margin-top: 100px;
}
.btn-footer {
	color: #D40202;
	border: none;
	font-size: 13px;
	line-height: 24px;
	background-color: #fff;
}
.social-icons {
	margin-right: 6px;
}
footer  a {
	color: #D40202;
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
}
footer .left-col {
	font-size: 13px;
	line-height: 20px;
	color: #000;
	max-width: 210px;
	margin-right: 15px;
}
address {
	margin-top: 22px;
}
/* =========================================================================
   COPYRIGHT
   ========================================================================== */
.copyright .container {
	margin-top: 8px;
	background-color: #eceeef;
	color: #969899;
	padding-top: 8px;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
}
.copyright .rigth-col a {
	color: #969899;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
}   
.copyright .rigth-col {
	margin-top: 0;
}
/* =========================================================================
   FOOTER
   ========================================================================== */            
/* =========================================================================
   FOOTER
   ========================================================================== */


} /*EOF MAIN-SM*/
