@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400,300);
/* ==========================================================================
   GENERAL
   ========================================================================== */

html{
  height: 100%;
}
body {
   font-family: 'Raleway', sans-serif;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
header {
   margin-bottom: -60px;
   position: absolute;
   left:0;
   right:0;
   margin-left:auto;
   margin-right:auto;
   z-index: 1;
   background: rgba(255,255,255,0.89);
   min-height: 140px;
   -webkit-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
   -moz-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
           box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
}
.header-border {
   background: #0259a9;
   box-shadow: 2px 4px 5px 0.00px rgba(26, 23, 27, 0.15);
   height: 7px;
   margin-bottom:  7px;
}
.header-intro {
   margin-top: 0px;
   font: 700 14px / 22px Raleway;
   font-size: 14px;
   line-height: 22px;
   color: rgba(0, 156, 217, 0.85);
   text-transform: uppercase;
   text-align: right;
   letter-spacing: 0.15em;
}
.header-intro span {
   color: rgba(0, 89, 169, 0.85);
}
/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.navbar {
   margin-bottom: 0;
}

.navbar {
   min-height: 0;
   margin-bottom: 0;
}
.navbar-default {
    background: transparent;
    background-image: none;
    border-color: transparent;
   box-shadow: none;
}
.navbar-default .navbar-nav > li > a {
   color: #575b61;
   font: 400 17px / 20px Raleway;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
   background: #005BAB;
   background-image: linear-gradient(to bottom, #005BAB 0px, #005BAB 100%);
   background-repeat: repeat-x;
   box-shadow:none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navb

     ar-nav > .active > a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
}
.navbar-nav > li > a {
   padding-top: 7px;
   padding-bottom: 7px;
   margin-right: 19px;
   margin-bottom: -1px;
   margin-top: 1px;
}
.navbar-nav > li:last-child > a {
    margin-right: -25px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #005BAB;
}
.navbar-collapse {
   float: right;
}
.dropdown-menu {
  background-color: rgba(255,255,255,0.89);
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  background-color: #005BAB;
  background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
  background-image: linear-gradient(to bottom,#005BAB 0,#005B8B 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
  background-repeat: repeat-x;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  color: #fff;
}
/*###############*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #ffffff;
    border-bottom: 3px solid #F07D00;
}
.container-fluid > .navbar-collapse, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container > .navbar-header {
    margin-right: 0px;
    margin-left: -30px;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
    border-color: #f07d00;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #f07d00;
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #f07d00;
}

/* ==========================================================================
   CAROUSEL
   ========================================================================== */
.section-carousel {
   background: #E7E6E4;
}
.carousel-img  {
   position: inherit;
   left:0;
   right:0;
   margin-left:auto;
   margin-right:auto;
}
.carousel-border-dark {
   position: relative;
   min-height: 59px;
   background: #0059A9;
}

.carousel-border-light {
   height: 10px;
   background: rgba(147,178,207, 0.5);
   margin-top: -30px;
}

/* ==========================================================================
   TEASER BOX
   ========================================================================== */
.teaser-box {
   position: absolute;
   min-height: 145px;
   padding-top: 10px;
   background: #009CD9;
   top: -145px;

}
.teaser-box-content h4 {
   color: #ffffff;
   font: 700 13px / 17px Raleway;
   margin-bottom: 0;
}

.teaser-box-content p {
   color: #ffffff;
   font: 300 13px / 17px Raleway;
   margin-bottom: 0;
}
.teaser-box-content a {
   color: #ffffff;
   font: 700 13px / 17px Raleway;
   text-decoration: underline;
}
.teaser-box-img {
   margin-top: 10px;
   margin-right: 0;
}

.teaser-box-content {
   margin-right: -15px;
   margin-left: -10px;
}

/* ==========================================================================
   MAIN SECTION
   ========================================================================== */
.main {
   padding-top: 20px;
}
.main .lead {
   color: #575b61;
   font: 700 15px / 22px Raleway;
}
.main p {
   color: #575b61;
   font: 300 15px / 22px Raleway;
}
.mini-logo {
   padding-right: 10px;
}
.main h1 {
   color: #0059a9;
   font: 600 23px Raleway;
}
.content-img {
  float: left;
  padding-right: 40px;
  margin-bottom: 20px;
}
.content-img img {
  -webkit-box-shadow: 2px 3px 3px 0px rgba(26, 24, 28, 0.27);
   -moz-box-shadow: 2px 3px 3px 0px rgba(26, 24, 28, 0.27);
           box-shadow: 2px 3px 3px 0px rgba(26, 24, 28, 0.27);
}


/* =========================================================================
   FORM CONTROL
   ========================================================================== */
.form-control {
   background-color: #ECEEEF;
   border-radius: 0;
}
.form-group {
    margin-bottom: 2px;
}
.form-group p {
   margin: 0;
   color: #7f868a;
}
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
    padding-top: 0;
}
label {
    font-weight: normal;
    color: #7f868a;
}
.form-group .btn {
   background-color: #ECEEEF;
   border: 1px solid #CCC;
   padding: 2px 5px;
}

/* =========================================================================
   FOOTER
   ========================================================================== */
footer {
   margin-top: 50px;
   background: #0059A9;
   min-height: 297px;
}
footer p {
   margin-left: 20px;
   color: #ffffff;
   font: 700 15px / 20px Raleway;
}
.footer-left-col p span {
   font: 500 15px / 20px Raleway;
}
footer  a {
   color: #ffffff;
   font: 500 15px / 20px Raleway;
}
footer .container {
   background: #009CD9;
   padding-top: 50px;
   padding-bottom: 50px;
   -webkit-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
   -moz-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
           box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);

}

/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(max-width:767px){
    body {
        /*background: blue;*/
    }
    header {
       margin-top: 0;
   }
   .main {
       margin-top: -20px;
   }
   .navbar-toggle {
      margin-left: 15px;
   }
    .navbar-brand > img {
       max-width: 200px;
   }
    .header-logo {
       margin-right: 0px;
      margin-top: -10px;
   }
   /*Clear Float Left or Right from NavBar */
   .navbar-collapse {
      overflow: auto;
      width: 100%
    }
    .section-carousel {
      /*min-height: 390px;*/
      padding-top: 170px;
    }
    .carousel-border-dark {
      min-height: 20px;
    }
    .carousel-border-light {
      height: 4px;
      margin-top: -10px;
    }
    .content-img {
      float: left;
      padding-right: 40px;
    }
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:768px){
    body {
        background: red;
    }
    header {
      min-height: 120px;
    }
   .header-logo {
      margin-right: 13px;
   }
   .carousel-border-light {
      margin-top: -30px;
   }
   
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:992px){
    body {
      background: orange;
    }
   .container {
      width: 960px;
   }
   .carousel-border-light {
      margin-top: -30px;
   }
   .main .content-txt {
      /*margin-left: 40px;*/
    }
}
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:1220px){
   body {
        background: white;
        min-height: 100%;
    }
    .container {
      width: 960px;
   }
   .header-logo {
      margin-right: 123px;
   }
   .carousel-border-light {
/*      margin-top: -65px;*/
   }
}


/* ==========================================================================
   NEW RULES
   ========================================================================== */







