@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
/*font-family: 'Open Sans Condensed', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

/* ==========================================================================
	GENERAL
	========================================================================== */

html{
  height: 100%;
}
body {
	/*background: #2c2c2c;*/
	/*background: none;*/
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
.row {
  /*margin-right: 0;*/
}
.separator {
	min-height: 1px;
	border-top: 1px solid #333333;
}
.content-separator {
	min-height: 1px;
	border-top: 1px solid #333333;
	margin-top:29px;
	margin-bottom: 30px;
}
/* ==========================================================================
	HEADER
	========================================================================== */
header {
	background: url(../img/header-bg2.jpg) repeat-x;
	/*margin-bottom: -60px;*/
	/*position: absolute;*/
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	/*z-index: 1;*/
	/*background: rgba(255,255,255,0.89);*/
	/*background: #fff;*/
	/*min-height: 157px;*/
}

a.header-logo  {
	text-decoration: none;
}
.header-logo {
	position: relative;
	font-family: "Roboto Condensed";
	color: #007160;
	font-size: 36px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.11);
	margin-left: -20px;
	/*text-transform: uppercase;*/
	margin-top: 34px;
}
.header-logo span {
	font-weight: 300;
}
.header-logo-img img {
	margin-right: 0;
	margin-top: 22px;
	margin-bottom: -24px;
}
.twentyfour {
	margin-top: 30px;
	margin-left: 0;
}

.header-intro {
	font-family: Roboto;
	color: #ba122b;
	font-size: 15px;
	font-weight: 900;
	line-height: 18px;
	text-align: left;
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.11);
	margin-top: 38px;
	margin-left: -12px;
	width: 105px;
}
span.header-intro-one {
	font-family: Roboto;
	color: #ba122b;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.11);
}
span.header-intro-two {
	font-family: Roboto;
	color: #ba122b;
	font-size: 14px;
	font-weight: 900;
	line-height: 19px;
	text-align: left;
	text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.11);
}
.small-logo {
	margin-left: 110px;
	margin-top: -20px;
}
.top100 {
	/*position: absolute;
	left: 22%;
	top: 162%;*/
	vertical-align: middle;
	align-content: center;
}
/* ==========================================================================
	NAVIGATION
	========================================================================== */
.nav>li>a {
    padding: 10px;
}

.navbar {
	margin-bottom: 0;
	border: none;
}
.navbar {
	min-height: 0;
	margin-bottom: 0;
}
.navbar-default {
  background: #007d40;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  padding-bottom: 1px;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
	font-family: "Open Sans Condensed", sans-serif;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	line-height: 46px;
	text-align: left;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover  {
	 background-color: rgb(0, 125, 64);
	 color: #fbfe00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
	color: #fbfe00;
	background: rgb(0, 125, 64);
	/*background-image: linear-gradient(to bottom, #007161 0px, #007161 100%);
	background-repeat: repeat-x;
	box-shadow:none;*/
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	 color: #fbfe00;
	 background-color: rgb(0, 125, 64);
}
.navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 10px;
	margin-bottom: -1px;
	margin-top: 1px;
}
.navbar-nav > li:last-child > a {
	 margin-right: -25px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
a:focus, .navbar-default .navbar-nav > .active > a:hover{
	 color: #fbfe00;
	 background-color: rgb(0, 125, 64);
}
.navbar-collapse {
	/*float: right;*/
}
.dropdown-menu {
  /*background-color: rgba(255,255,255,0.89);*/
  background-color: transparent;
  padding: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
}
.dropdown-menu > li > a {
	padding: 11px 20px;
	min-width: 190px;
	background-color: rgb(0, 125, 64);
	margin-bottom: 1px;
	color: #fff;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #fbfe00;
	background-color: rgb(0, 125, 64);
	background-image: -webkit-linear-gradient(top,#007d40 0,#007d40 100%);
	background-image: -o-linear-gradient(top,#007d40 0,#007d40 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#007d40),to(#007d40));
	background-image: linear-gradient(to bottom, #007d40 0px, #007d40 100%);

	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
	background-repeat: repeat-x;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #fbfe00;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fbfe00;
    text-decoration: none;
    background-color: #007d40;
    outline: 0;
}
.navbar-nav li{
	position: relative;
}
.nav > li > a:hover:after,
.nav > li.active a:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #2c2c2c 10px;
    bottom: 0;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
    margin-bottom: -1px;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
	 margin-right: 5px;
	 margin-left: -30px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	 background-color: #ffffff;
	 border-color: #007161;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
	 background-color: #007161;
}
.navbar-nav>li>.dropdown-menu {
	margin-top: 0px;
	padding-top: 2px;
}
.navbar-nav {
	margin-left: -10px
}

/* ==========================================================================
	CAROUSEL
	========================================================================== */

.carousel {
	margin-bottom: -27px;
}
.carousel-inner {
    height: auto;
}
.section-carousel {
	height: 281px;
}
/*For non responsive Carousel images*/
img.carousel-img,
.carousel-inner > .item > img {
    /*max-width: none;*/
    width: 100%;
    /*background-size: cover;*/
    height: 281px;
}
.carousel-img  {
	/*position: inherit;*/
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.carousel-border-dark {
	position: relative;
	min-height: 38px;
	background: #007161;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
	-moz-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
			  box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
}

.carousel-border-light {
  position: relative;
	height: 26px;
	background: rgba(0, 125, 64, 0.35);
	margin-top: -43px;
}
/*For inner Pages*/
.carousel-border-dark-inner {
	position: relative;
	min-height: 28px;
	background: #0059A9;
	-webkit-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
	-moz-box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
			  box-shadow: 2px 3px 4px 0px rgba(26, 24, 28, 0.27);
	width: 100%;
}

.carousel-border-light-inner {
  position: relative;
	height: 14px;
	background: rgba(0,89,169, 0.37);
	margin-top: -30px;
	width: 100%;
}
.header-img,
.header-img .fill {
	max-height: auto;
	background-position: center;
	    -webkit-background-size: cover ;
	    -moz-background-size: cover ;
	    background-size: cover ;
	    -o-background-size: cover;
}

.carousel-inner > .item > .header-img.fill {
	height: auto;
}
.header-img, .header-img .fill {
   height: 326px;
   background-position: center;
}


/* ==========================================================================
   CAROUSEL FADE EFFECT
   ==========================================================================*/


.carousel-fade .carousel-inner .item {
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: -100;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}



/* ==========================================================================
	MAIN SECTION
	========================================================================== */
.main {
	/*padding-top: 125px;*/
	margin-bottom: 22px;
}

.main p {
	font-family: 'Open Sans', sans-serif;
	color:
	#000000;
	font-size: 15px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 21px;/* Approximation due to font substitution */
	text-align: left;
}

.main h1 {
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 21px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 21px;/* Approximation due to font substitution */
	text-align: left;
	margin-top: 38px;
	margin-bottom: 12px;
}
.content-img {
	margin-top: 6px;
	margin-bottom: 20px;
}
.content-img img,
.content-innerPage-img  {
}
.front-list {
	margin-top: 28px;
}
.sidebar {
	margin-top: 22px;
	width: 300px;
	margin-left: 5px;
}

.front-sideBox {
	background: #007d40;
	padding: 12px 17px 11px 17px;
	margin-bottom: 1px;
}
.front-sideBox h1 {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 600;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 7px;
}
.front-sideBox a {
	font-family: 'Open Sans', sans-serif;
	color: 	#ffffff;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	/*padding-top: 18px;*/
}
.sidebox-menu {
	position: relative;
	background: #007d40;
	/*padding: 14px 17px;*/
	margin-bottom: 1px;
}
.sidebox-menu a {
	display: block;
	color: #fff;
	/*padding: 14px 17px;*/
	line-height: 38px;
	padding: 0 30px;
}
.sidebox-menu a:hover,
.sidebox-menu.active > a  {
	color: rgb(252, 254, 0);
	text-decoration: none;
}
.sidebox-menu a:hover:before,
.sidebox-menu.active > a::before {
    border-left: solid #2c2c2c 10px;
    border-top: solid transparent 10px;
    border-bottom: solid transparent 10px;
    bottom: 25%;
    content: " ";
    height: 0;
    left: 4%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
/* =========================================================================
	MAIN CONTENT
	========================================================================== */
.main-content {
	margin-top: 22px;
	background: #ffffff;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 630px;
	margin-right: 10px;
	padding-bottom: 40px;
}
.partner-sideBox h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color:#ffffff;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 700;
	text-align: left;
}
.partner-box {
	background: #fff;
	margin-bottom: 1px;
	padding: 8px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
ul.content-list {
	margin-left: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}
ul.content-list li::before {
    content: '\25AA';
    display: inline;
    margin-right: 6px;
    width: 20px;
    color: #007d40;
}
.media {
	padding-top: 22px;
	padding-bottom: 22px;
}
.media-heading {
	font-size: 21px;
	line-height: 30px;
}
.media-body {
	font-size: 15px;
	line-height: 21px;
}
.media-body a {
	color: #000;
	text-decoration: underline;
}
.media-left img {

}
.media-left, .media > .pull-left {
    padding-right: 28px;
}



/* =========================================================================
	FORM CONTROL
	========================================================================== */
.form-control {
	background-color: #ECEEEF;
	border-radius: 0;
}
.form-group {
	 margin-bottom: 2px;
}
.form-group p {
	margin: 0;
	color: #7f868a;
}
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
	 padding-top: 0;
}
label {
	 font-weight: normal;
	 color: #7f868a;
}
.form-group .btn {
	background-color: #ECEEEF;
	border: 1px solid #CCC;
	padding: 2px 5px;
}

/* =========================================================================
	FOOTER
	========================================================================== */
.before-footer {
	border-bottom: 6px solid #007d40;
	padding-bottom: 4px;
	margin-top: -4px;
}
footer {
	margin-top: 5px;
	background: #007d40;
	min-height: 235px;
}
footer p {
	margin-bottom: 0;
	font-family: Roboto;
	color: #ffffff;
	font-size: 15px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 20px;
}
.footer-left-col  {
	font-family: Roboto;
	color:	#ffffff;
	font-size: 15px;/* Approximation due to font substitution */
	font-weight: 500;
	line-height: 20px;/* Approximation due to font substitution */
	text-align: left;
	padding-bottom: 30px;
}
footer  a {
	color: #ffffff;
}
footer  a:hover {
	color: #ffffff;
	text-decoration: underline;
}
footer .container {
	background: #007d40;
	/*background: lightgray;*/
	padding-top: 26px;
	/*padding-bottom: 28px;*/
}
.footer-col-right {
	margin-top: 8px;
	vertical-align: bottom;
	margin-left: -70px;
}

/* ==========================================================================
	MEDIA QUERYS
	========================================================================== */
@media(max-width:767px){
	 body {
		  /*background: blue;*/
		  background: #2c2c2c;
	 }
	 header {
		 margin-top: 0;
		 /*background: #fff;*/
		 /*background: rgba(255,255,255,0.89);*/
		 /*background: transparent;*/
		 position: relative;
		 padding-bottom: 0;
	}
	.section-carousel {
		padding-top: 40px;
		height: 332px;
	}
	.carousel-inner {
		height: 100%;
	}
	.carousel-xs {
		background: #fff;
		margin-bottom: -16px;
	}
	img.carousel-img, .carousel-inner > .item > img {
		/*max-width: none;*/
		width: 100%;
		background-size: cover;
		height: auto;
	}
	.fill {
		height: 332px;
	}
	.carousel-border-light {
		height: 16px;
		margin-top: 0;
	}
	.carousel-border-dark {
		min-height: 20px;
	}
	.section-img-header {
		margin-bottom: -60px;
	}
	.content-img {
		float: left;
		padding-right: 40px;
	}

	.main {
		 margin-top: 0px;
		 padding-top: 0px;
	}
	.sidebar {
		margin: 0 auto;
	}
	.navbar {
		/*background-color: transparent;*/
		/*background: transparent;*/
		background: #fff;
		border-color: transparent;
	}
	.navbar-default .container {
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-toggle {
		/*clear: both;*/
		/*float: left;*/
		margin: 5px 0;
	}
	.navbar-nav > li > .dropdown-menu {
	    padding-top: 1px;
	}
	.navbar-brand > img {
		 max-width: 200px;
	}
	.header-logo {
		margin-left: 0px;
		margin-top: 21px;
		font-size: 17px;
		min-height: 200px;
	}
	.header-logo-main-img {
		/*position: absolute;*/
		left: 13%;
		top: 0;
		right: 13%;
		width: 100%;
	}

	.small-logo {
		margin-left: 80px;
		margin-top: -10px;
	}
	.header-logo h1 {
		/*position: absolute;*/
		font-family: 'Open Sans Condensed', sans-serif;
		color: #007d40;
		font-size: 17px;
		font-weight: 700;
		line-height: 21px;
		/*left: 30%;
		top: 20%;*/
		text-align: center;
		margin-top: 0;
	}
	.top100 {
		/*position: absolute;*/
	/*	left: 33%;
		top: 54%;*/
		vertical-align: middle;
		align-content: center;
	}
	/*Clear Float Left or Right from NavBar */
	.navbar-nav {
		margin: -1px -15px -1px -15px;
		background: #282828;
		padding-bottom: 0;
	}
	.nav > li > a {
		padding: 10px 25px;
	}
	.navbar-collapse {
		overflow: auto;
		width: 100%;
		border-top:	none;
	 }
	.navbar-default {
  		background: #fff;
  		background:  rgb(15, 125, 64);
  		padding-bottom: 0;
  	}
	.navbar-default .navbar-toggle {
	   border-color: #fff;
	   margin-right: 15px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	 /*Wagschal NavBar in Small Screens*/
	 .navbar-default .navbar-collapse,
	 .navbar-default .navbar-form {
		  border-color: #fff;
	 }
	 .navbar-default .navbar-nav > .active > a,
	 .navbar-default .navbar-nav > .active > a:focus,
	 .navbar-default .navbar-nav > .active > a:hover,
	 .navbar-default .navbar-nav > li > a:hover  {
		  background-image: linear-gradient(to bottom, #007d40 0px, #007d40 100%);
		  background-repeat: repeat-x;
		  border-bottom: none;
		  color: #fff;
	 }
	 .navbar-default .navbar-nav > li > a {
		background-image: linear-gradient(to bottom, #3d3c3c 0px, #3d3c3c 100%);
		background-repeat: repeat-x;
		margin-bottom: 0px;
		text-transform: none;
		font-weight: 500;
	 }
	 .navbar-default .navbar-nav > .active > a,
	 .navbar-default .navbar-nav > .open > a {
		background-color: #007d40;
		-webkit-box-shadow:rgba(0, 0, 0, 0.0742188) 0 3px 9px inset;
		background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#007d40), to(#007d40));
		background-repeat:repeat no-repeat;
		box-shadow:rgba(0, 0, 0, 0.0742188) 0 3px 9px inset;
	 }
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	color: #fff;
	background-color: #007d40;
	}
.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top,#0d6038 0,#2e6da4 100%);
    background-image: -o-linear-gradient(top,#0d6038 0,#0d6038 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0d6038),to(#0d6038));
    background-image: linear-gradient(to bottom,#0d6038 0,#0d6038 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d6038', endColorstr='#0d6038', GradientType=0);
    background-repeat: repeat-x;
}
	.navbar-default .navbar-nav > li > a {
		/*background-color: #CDE2F5;*/
		font-family: 'Open Sans Condensed', sans-serif;
		color: #fff;
		font-size: 17px;
		line-height: 36px;
	}
	 .navbar-default .navbar-nav > li > a:hover {
		background-color: #005BAB;
		  color: #ffffff;
	 }
	 /* Change the last Li child right margin */
	 .navbar-nav > li:last-child > a {
		  margin-right: 0;
	 }
	.navbar-nav > li > a {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.nav li a:hover::after, .nav li.active a::after {
		border: none;
	}
	 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
		margin-right: 0;
		margin-bottom: 1px;
		background-image: linear-gradient(to bottom, #4d4c4c 0px, #4d4c4c 100%);
		line-height: 36px;
		padding-left: 50px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #fff;
		background-image: linear-gradient(to bottom, #0d6038 0px, #0d6038 100%);
	}
	.container-fluid > .navbar-collapse,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container > .navbar-header {
		margin-right: 0px;
		margin-left: 0px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header,
	 .navbar-nav .open .dropdown-menu > li > a {
	    padding: 0px 15px 0px 25px;
	}

	/*Give Background a color*/
	 .navbar-nav .open .dropdown-menu {
    	/*background-color: #fff;*/
    }
   .header-intro {
   	float: right;
   	margin-top: 10px;
   }
	.carousel-img {
		/*top: -300px;*/
	}
	.footer-col-right {
		/*margin-top: 71px;*/
	}
	.before-footer {
		border-bottom: 6px solid #007161;
		padding-bottom: 4px;
		margin-top: 15px;
	}
	ul.list-sidebox {
		padding-bottom: 0;
	}
	.main-content {
		margin-bottom: 21px;
	}
	.sidebar {
		margin-bottom: 50px;
	}
	section.gallerie {
		margin: 0 auto;
	}
	.media-body,
	.media-left,
	.media-right {
		display: inline;
	}
	.main-content {
		/*width: auto;*/
	}


}
/* ==========================================================================
	MEDIA QUERYS
	========================================================================== */
@media(min-width:768px){
	 body {
		  /*background: red;*/
		  background: #2c2c2c;
	 }
	 header {
		/*min-height: 120px;*/
	 }
	.small-logo {
		margin-left: 85px;
		margin-top: -15px;
	}
	.top100 {
		position: absolute;
		left: 23%;
		top: 156%;
	}
	.section-img-header {
		margin-bottom: 30px;
	}
	.header-logo {
		position: relative;
		margin-right: 13px;
		font-size: 26px;
	}
	.header-logo h1 {
		position: absolute;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #007d40;
		font-size: 17px;
		font-weight: 700;
		line-height: 21px;
		left: 18%;
		top: 43%;
		margin-top: 20px;
	}
	.carousel-border-light {
		margin-top: -26px;
	}
	img.carousel-img, .carousel-inner > .item > img {
		/*max-width: none;*/
		width: 100%;
		/*background-size: cover;*/
		height: 232px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 14px;
	}
	.front-sideBox {
		margin-right: -15px;
	}
	.upper-font {
		text-transform: uppercase;
	}
	.front-sideBox-two {
		margin-top: 25px;
		margin-left: 0;
	}
	.main {
		/*padding-top: 245px;*/
	}
	ul.list-sidebox li > a {
   	font-size: 13px;
   }
	ul.list-sidebox {
		padding-bottom: 0;
	}
	footer {
		min-height: 190px;
	}
	.footer-left-col {
		padding-bottom: 0;
	}
}
/* ==========================================================================
	MEDIA QUERYS
	========================================================================== */
@media(min-width:992px){
	 body {
		background: #2c2c2c;
	 }
	.container {
		width: 960px;
	}
	.header-logo {
		margin-right: 13px;
		font-size: 26px;
	}
	.header-logo h1 {
		position: absolute;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #007d40;
		font-size: 17px;
		font-weight: 700;
		line-height: 21px;
		left: 30%;
		top: 58%;
	}
	.top100 {
		position: absolute;
		left: 33%;
		top: 190%;
	}
	.carousel-border-light {
		margin-top: -26px;
	}
	img.carousel-img, .carousel-inner > .item > img {
		/*max-width: none;*/
		width: 100%;
		/*background-size: cover;*/
		height: 281px;
	}
	.main .content-txt {
		/*margin-left: 40px;*/
	 }
	 .header-logo {
		font-size: 36px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 16px;
	}
	.front-sideBox {
		margin-right: 0;
	}
	.front-sideBox-two {
		margin-top: 0;
		margin-left: -15px;
	}
	.main {
	/*padding-top: 125px;*/
	}
	ul.list-sidebox li > a {
   	font-size: 16px;
   }

}
/* ==========================================================================
	MEDIA QUERYS
	========================================================================== */
/*@media(min-width:1220px){
	body {
		  background: white;
		  min-height: 100%;
	 }
	 .container {
		width: 960px;
	}
	.header-logo {
		margin-right: 123px;
	}
	.carousel-border-light {
      margin-top: -65px;
	}
}*/


/* ==========================================================================
	NEW RULES
	========================================================================== */







