 /* ==========================================================================
   General
   ========================================================================== */
.img-responsive {
   width: 100%;
}


 /*==========================================================================
   NavBar
   ========================================================================== */

.navbar {
    border-radius: 0;
    min-height: 43px;
}
.container > .navbar-collapse,
.container > .navbar-header {
    /*margin-right: -15px;*/
    padding-right: 0;
}
.navbar-nav {
   /*float: right;*/
   margin-left: 190px;
}
.nav > li > a {
   padding: 10px 10px;
   /*line-height: 47px;*/
}
.navbar-default .navbar-nav>li>a {
  color: #acabab;
}
.navbar-default {
   background: rgb(30,30,30);
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTE5MTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top,  rgba(30,30,30,1) 0%, rgba(25,25,25,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  rgba(30,30,30,1) 0%,rgba(25,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  rgba(30,30,30,1) 0%,rgba(25,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#191919',GradientType=0 ); /* IE6-8 */
   border: 0;
   /*border-color: transparent;*/
}
.navbar-nav > li > a {
   font-family: Tahoma;
   color:  #6a6a6a;
   font-size: 14px;
   font-weight: 400;
   line-height: 29px;
   text-align: left;
   text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   color: #fff;
   background-color: transparent;
   background-image: url(../img/zeiger.jpg);
   background-repeat: no-repeat;
   background-position: center;
}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus  {
   background: transparent;
   color: #fff;
   background-image: url(../img/zeiger.jpg);
   background-repeat: no-repeat;
   background-position: center;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
   background: transparent;
   color: #fff;
   background-image: url(../img/zeiger.jpg);
   background-repeat: no-repeat;
   background-position: center;
}


/*Dorpdown*/
.dropdown-menu {
   width: 216px;
   background: #d7918f;
}
.dropdown-menu li a {
   color: #000;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #b83131;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}


.contact-btn {
   display: block;
   float: right;
   margin-top: 10px;
   width: 149px;
   height: 31px;
   background-image: none;
   background: red;
   border-radius: 20px;
   background: -webkit-linear-gradient(-90deg, #b12e2e 0%, #810000 100%);
   background: -moz-linear-gradient(-90deg, #b12e2e 0%, #810000 100%);
   background: -o-linear-gradient(-90deg, #b12e2e 0%, #810000 100%);
   background: -ms-linear-gradient(-90deg, #b12e2e 0%, #810000 100%);
   background: linear-gradient(180deg, #b12e2e 0%, #810000 100%);
   box-shadow: 0px 2px 2px 0px rgba(48, 89, 113, 0.19);
   padding-top: 5px;
}
   .contact-btn a {
   font-family: Tahoma;
   color:  #fff;
   font-size: 12px;
   font-weight: 400;
   text-align: center;
   text-shadow: 0px -1px 1px rgba(126, 53, 53, 0.71);
   text-transform: uppercase;
   margin-left: 13px;
   }

/* ==========================================================================
   Carousel
   ========================================================================== */
.carousel {

}
.slider-shadow {
   position: absolute;
   width: 639px;
   height: 170px;
   bottom: 32px;
   background: transparent;
   left: 16%;
   z-index: -1;
   box-shadow: 0px 29px 38.269999999999996px 4.73px rgba(0, 0, 0, 1);
}
.carousel-control {
   top: 45%;
   opacity: 1;
}
.carousel-control.left {
    background-image: none;
}
   .carousel-control.left img {
      margin-left: -96px;
   }
.carousel-control.right {
    background-image: none;
}
   .carousel-control.right img {
      margin-right: -96px;
   }

.carousel-caption {
   background: rgba(255, 255, 255, 0.2);
   padding: 0;
   right: 10%;
   left: 44%;
}
.carousel-caption h3 {
   font-family: "Roboto Condensed";
   color:  rgb(255, 255, 255);
   font-size: 29px;
   font-weight: 700;
   line-height: 40px;
   margin-top: 10px;
}
.carousel-caption span{
   font-family: "Roboto Condensed";
   color:  rgb(255, 255, 255);
   font-size: 28px;
   font-weight: 400;
   line-height: 10px;
   text-align: left;

}
/* ==========================================================================
   Teaser
   ========================================================================== */
.teaser {
   padding-right: 7.5px;
   padding-left: 7.5px;
}
.teaser:first-child {
   padding-left: 0;
}
.teaser:last-child {
   padding-right: 0;
}
.teasertext {
   font-family: "Roboto Condensed";
   font-size: 18.01px;
   font-weight: 400;
   line-height: 11px;
   text-align: left;
   margin-bottom: 16px;
   margin-top: 5px;
}

.teasertext a {
   color:  #6a6a6a;

}
.teasertext a span {
   font-family: "Roboto Condensed";
   color:  #b71a1a;
   font-size: 18.01px;
   font-weight: 400;
   line-height: 11px;
   text-align: left;
}
/*.teasermehr {
   padding-left: 0;
}
.teasermehr > a {
   margin-top: -30px;
}

.teasermehr a:before {
   content: "\2022";
    display: inline;
    margin-right: 20px;
    width: 20px;
    font-size: 30px;
}*/


/* ==========================================================================
   General
   ========================================================================== */
.side-menu {
  margin-left: 0;
  padding-right: 15px;
  padding-left: 0;
  margin-right: -15px;
}
.side-menu ul {
  margin-bottom: 60px;
}
.side-menu ul li {
  border-bottom: 1px solid #dbdbdb;
}
.side-menu ul li a {
  font-family: Tahoma;
  color:  #6a6a6a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 30px;
  text-align: left;
}
.side-menu ul li:hover a {
  display: block;
}
.side-menu ul li a:hover,
.side-menu ul li.active a {
  color:  #b71a1a;
}
.side-menu ul li a:hover:before,
.side-menu ul li.active a:before {
  content: "\25CF   ";
}
.content {
  padding-right: 0;
  padding-left: 0;
  margin-left: 15px;
}
.content h2 {
  font-family: "Roboto Condensed";
  color:  rgba(80, 80, 80, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 24px;
  margin-bottom: 12px;
}
.content > p {
  font-family: Tahoma;
  color:  #6a6a6a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-bottom: 27px;
}
.media {
    margin-top: 5px;
}
.media-heading {
    margin-bottom: 0px;
}
.media-body {
  background: #fffefe;
  border: 1px solid #dadada;
  padding: 12px 12px 0 12px;
}
@media(max-width:767px){
  .media-body {
    display: inherit;
    width: 100%;
  }
  .media {
    margin-top: 15px;
  }
}
/*@media(min-width:768px){
  .media-body, .media-left, .media-right {
    display: inherit;
    width: 100%;
  }
}*/

/* ==========================================================================
   General
   ========================================================================== */


/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
   margin-left: -15px;
margin-right: -15px;
}

/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(max-width:767px){
    body {
        /*background: blue;*/
    }
   #hg {
      background-image: none;
      background: #fff;
   }
   .inhalt1 {
      padding-top: 45px;
   }
   .carousel-caption h3 {
      font-size: 10px;
      line-height: 20px;
   }
   .carousel-caption span {
      font-size: 10px;
   }
   .carousel-caption {
      bottom: 0px;
   }
    .footer {
      width: auto;
   }
   .footerrechts {
      width: auto;
      float: left;
      text-align: left;
      margin-top: 30px;
   }
   .footerlinks {
      width: auto;
   }
   #mittig, #flashfeld, .inhalt1 {
      width: auto;
   }
   #mittig {
      position: relative;
      left: 0;
      margin-left: 0;
   }
   #flashfeld {
      height: 0;
   }
   /*NavBar*/
   .navbar-toggle {
      float: left;
      margin-left: 015px;
   }
   .contact-btn {
      margin-right: 15px;
      margin-top: 7px;
   }

   /*navSpecific*/
   .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background-image: none;
    }
  .content {
    margin-left: 0px;
  }

}




/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:768px){
   body {
      /*background: red;*/
   }
   .navbar-nav {
      margin-left: -30px;
   }
   .navbar-nav > li > a {
      font-size: 12px;
   }
   #logo {
      /*left: 135px;*/
   }
   .slider-shadow {
      width: 508px;
      bottom: 92px;
   }


   .carousel-caption h3 {
      font-size: 19px;
      line-height: 20px;
   }
   .carousel-caption span {
      font-size: 18px;
   }
   .carousel-control.right img {
      margin-right: -61px;
   }
   .carousel-control.left img {
      margin-left: -61px;
   }
   .inhalt1 {
      padding-top: 0px;
   }
   #mittig {
      left: 0;
      width: auto;
      margin-left: 0;
   }
   .footerrechts {
      width: 320px;
   }
}


/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:992px){
   body {
      /*background: green;*/
   }
   .container {
      width: 990px;
   }
   .navbar-nav {
      margin-left: 204px;
   }
   .navbar-nav > li > a {
      font-size: 14px;
   }
   #logo {
      /*left: 30px;*/
   }
   .carousel-caption h3 {
      font-size: 28px;
      line-height: 40px;
   }
   .carousel-caption span {
      font-size: 28px;
   }
   .carousel-control.right img {
      margin-right: -96px;
   }
   .carousel-control.left img {
      margin-left: -96px;
   }
   .inhalt1 {
      padding-top: 63px;
   }
   .slider-shadow {
      width: 639px;
      bottom: 32px;
   }
 }

   /* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:1200px){
   body {
      /*background: yellow;*/
   }
   .container {
      width: 990px;
   }
}

/* ==========================================================================
   MOBILE VIEW MEDIA QUERYS
   ========================================================================== */
@media(max-width:767px){
.navbar {
      /*background-color: transparent;*/
      /*background: transparent;*/
      background: #fff;
      border-color: transparent;
   }
   .navbar-default .container {
      margin-right: -15px;
      margin-left: -15px;
      padding-left: 15px;
      padding-right: 15px;
   }
   .navbar-toggle {
      /*clear: both;*/
      /*float: left;*/
      margin: 5px 0;
   }
   .navbar-nav > li > .dropdown-menu {
       padding-top: 1px;
   }
   .navbar-brand > img {
       max-width: 200px;
   }
   .navbar-nav {
      margin: 0px 0px 0px -15px;
      background: #fff;
      padding-bottom: 5px;
   }
   .nav > li > a {
      padding: 10px 25px;
   }
   .navbar-collapse {
      overflow: auto;
      width: 100%;
      border-top: none;
    }
   .navbar-default {
      /*background: #fff;*/
      background:  #1d1d1d;
      padding-bottom: 0;
   }
   .navbar-default .navbar-toggle {
      border-color: #fff;
      margin-right: 15px;
      margin-left: 15px;
   }
   .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
   }
    /*Wagschal NavBar in Small Screens*/
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #fff;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      background-image: none;
      background-image: linear-gradient(to bottom, #d7918f 0px, #d7918f 100%);
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > li > a:hover  {
        background-image: linear-gradient(to bottom, #b83131 0px, #b83131 100%);
        background-repeat: repeat-x;
        border-bottom: none;
        color: #fff;
    }
    .navbar-default .navbar-nav > li > a {
      background-image: linear-gradient(to bottom, #d7918f 0px, #d7918f 100%);
      background-repeat: repeat-x;
      margin-bottom: 0px;
      text-transform: none;
      font-weight: 500;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .open > a {
      background-color: #B83131;
      -webkit-box-shadow:rgba(0, 0, 0, 0.0742188) 0 3px 9px inset;
      background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#B83131), to(#B83131));
      background-repeat:repeat no-repeat;
      box-shadow:rgba(0, 0, 0, 0.0742188) 0 3px 9px inset;
    }
   .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #b83131;
   }
.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top,#a11d1d 0,#a11d1d 100%);
    background-image: -o-linear-gradient(top,#a11d1d 0,#a11d1d 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#a11d1d),to(#a11d1d));
    background-image: linear-gradient(to bottom,#a11d1d 0,#a11d1d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a11d1d', endColorstr='#a11d1d', GradientType=0);
    background-repeat: repeat-x;
}
   .navbar-default .navbar-nav > li > a {
      /*background-color: #CDE2F5;*/
      font-family: inherit;
      color: #fff;
      font-size: 15px;
      line-height: 36px;
      margin-bottom: 1px;
   }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: #005BAB;
        color: #ffffff;
    }
    /* Change the last Li child right margin */
    .navbar-nav > li:last-child > a {
        margin-right: 0;
    }
   .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
   }
   .nav li a:hover::after, .nav li.active a::after {
      border: none;
   }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
      margin-right: 0;
      margin-bottom: 1px;
      background-image: linear-gradient(to bottom, #b83131 0px, #b83131 100%);
      line-height: 36px;
      padding-left: 50px;
   }
   .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color: #fff;
      background-image: linear-gradient(to bottom, #a11d1d 0px, #a11d1d 100%);
   }
   .container-fluid > .navbar-collapse,
   .container-fluid > .navbar-header,
   .container > .navbar-collapse,
   .container > .navbar-header {
      margin-right: 0px;
      margin-left: 0px;
   }
   .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
       padding: 0px 15px 0px 25px;
   }

   .navbar-nav .open .dropdown-menu > li:last-child {
      margin-bottom: -5px;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li:first-child {
      margin-top: -1px;
   }

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:767px) {
  body {
    /*background-color: pink;*/
  }
  .inhalt1 {
    padding-top: 40%;
  }


}