
/* ==========================================================================
   NAVBAR
   ========================================================================== */
.container-fluid > .navbar-collapse,
 .container-fluid > .navbar-header,
  .container > .navbar-collapse,
   .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar {
   margin-bottom: 10px;
}
.navbar.no-border .navbar-nav > li.dropdown-full > .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
}
.navbar.navbar-dark-evac .navbar-nav > li > a {
   color: #ffffff;
   font-size: 18px;
   font-weight: 700;
   width: 192px;
   text-align: center;
   text-transform: uppercase;
}
.navbar.navbar-dark-evac .navbar-nav > li > a:first-child {
   border-left: 1px solid #414141;
}
.navbar.navbar-dark-evac .navbar-nav > li > a:last-child {
   border-right: 1px solid #414141;
}
.navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu,
.navbar .navbar-nav > li[class*="dropdown"] > .dropdown-menu {
   border-radius: 0px 0px 0px 0px;
}
.navbar .navbar-nav > li.dropdown-full > .dropdown-menu,
.navbar .navbar-nav > li.dropdown-wide > .dropdown-menu {
   padding: 0 15px;
}
.navbar .h1, .navbar .h2,
.navbar .h3, .navbar h1,
.navbar h2, .navbar h3 {
   padding-top: 0;
}
.navbar .h1, .navbar .h2, .navbar .h3, .navbar h1, .navbar h2, .navbar h3 {
   padding-bottom: 0;
}


.menu-img img {
   max-width: 56px;
   max-height: 56px;
   margin: -1px 21px -1px -1px   ;
   padding-left: 0;
}
.menu-col:first-child {
   border-right: none;
}
.menu-xs-img img {
   max-width: 56px;
   max-height: 56px;
   margin: -5px 21px -5px -15px;
   padding-left: 0;
}
.menu-col {
   padding: 0;
   border-right: 1px solid #cdcdcd;
}
.menu-col h3 {
   color: #585858;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   border-bottom: 1px solid #cdcdcd;
}
.navbar.navbar-dark-evac :not(li) > a {
  color: #585858;
}
.navbar.navbar-dark-evac :not(li):hover > a {
  display: block;
  color: #585858;
  background: #E6E6E6;
}
.menu-col ul li a {
   color: #585858;
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   text-align: left;
}
.navbar .dropdown-menu li > a {
    line-height: 16px;
}
.menu-col ul li,
.menu-col h3 {
   border-bottom: 1px solid #cdcdcd;
}
.menu-col ul li a:before {
   content:" - ";
   display: inline;
   margin: 0 ;
}

.menu-col h3 {
   border-top: 1px solid #cdcdcd;
}
.menu-col ul li.last-menu-point {
   border-bottom: none;
}
.menu-left-border {
   border-left: 1px solid #cdcdcd;
}
.navbar-toggle {
   border: none;
}
/*#####################*/
/*Short Menu*/
.navbar .dropdown-menu.short-menu {
   -webkit-box-shadow: 0px 4px 6px 0px rgba(33, 36, 32, 0.45);
   -moz-box-shadow: 0px 4px 6px 0px rgba(33, 36, 32, 0.45);
   box-shadow: 0px 4px 6px 0px rgba(33, 36, 32, 0.45);
}
ul.dropdown-menu.short-menu li {
   min-width: 192px;
   border-bottom: 1px solid #cdcdcd;
}
ul.dropdown-menu.short-menu li:last-child {
   border-bottom: none;
}
.navbar .dropdown-menu.short-menu li > a {
   padding: 8px 15px 7px;
   color: #303030;
   font-size: 16px;
   font-weight: 400;
   text-align: left;
 }
/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(max-width:767px){
    body {
        /*background: blue;*/
    }
   .navbar.navbar-dark-evac .navbar-nav > li > a {
      color: #fefefe;
      font-size: 20px;
      font-weight: 400;
      width: 100%;

      text-align: left;

   }
   .navbar .navbar-nav .dropdown-menu li {
      list-style: outside none none;
      border-bottom: 1px solid #cdcdcd;
      padding: 0px 0;
   }
   .navbar .navbar-nav .dropdown-menu > li > a {
      font-size: 16px;
      line-height: 25px;
   }
   .navbar .navbar-nav .dropdown-menu > li:hover > a {
      display: block;
   }

}

/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:768px){
   body {
     /*background: red;*/
   }
   .navbar.navbar-dark-evac .navbar-nav > li > a {
      width: 150px;
   }

}

/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:992px){
    body {
      /*background: green;*/
    }
    .navbar.navbar-dark-evac .navbar-nav > li > a {
      width: 192px;
   }
}

/* ==========================================================================
   MEDIA QUERYS
   ========================================================================== */
@media(min-width:1200px){
   body {
        /*background: #ffffff;*/
        min-height: 100%;
    }

}